{% extends 'base.html' %} {% block title %} Add Data {% endblock title %} {% block adddataactive %} active {% endblock adddataactive %} {% block body %}



<div class="container my-3 bg-secondary border border-primary px-5 pb-5 rounded-3">
    <h1 class="my-3 text-center">ADD DATA</h1>
    <form method="post" action="adddata" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="input-group mb-3  ">

            <input type="file" name="img" class="form-control file input-group-text text-success bg-dark border-success" id="inputGroupFile01">
        </div>
        <div class="mb-3">
            <div class="input-group">
                <span class="input-group-text bg-success text-dark border-dark ">First and last name</span>
                <input type="text" name="fname" placeholder="First name" class="form-control  text-success bg-dark border-success">
                <input type="text" name="lname" placeholder="Last name" class="form-control  text-success bg-dark border-success">
            </div>
            <input type="text" name="father" class="form-control  text-success bg-dark border-success my-3" placeholder="Father's Name">

            <input name="stuclass" type="number" class="form-control mt-3 text-success bg-dark border-success" placeholder="Enter Class Name">
            <input name="section" type="text" class="form-control mt-3 text-success bg-dark border-success" placeholder="Enter Section Name">

            <div id="emailHelp" class="form-text text-dark">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <input type="email" name="email" class="form-control  text-success bg-dark border-success my-3" placeholder="Email Adress" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <input type="number" name="phone" class="form-control  text-success bg-dark border-success" placeholder="Enter Phone Number">
        </div>

        <button type="submit" class="btn btn-success border-dark text-dark container my-3 ">Submit</button>
    </form>
</div>
{% endblock body %}